@media (min-width: 320px) { 
    .works {
        padding: 35px 20px 55px;
        background-color: #fff;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;  
        }
        &__title {
            @include title;
            font-size: 28px; 
            &-descr {
                @include title-descr;
                margin-top: 20px; 
            }
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__buttons {
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 35px;
        }
        &__card {
            margin-top: 30px;
            width: 100%;
        }
    }
}

@media (min-width: 576px) {
    .works {
        &__card {
            width: calc(50% - 20px);
            margin-top: 30px;
            &__img {
            img {
                width: 100%;
            }
        }
        }
    }
}

@media (min-width: 768px) {
    .works {
        padding: 55px 20px;
        &__buttons {
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;
            
            align-items: baseline;
            width: 100%;
        }
    }
}

@media (min-width: 991px) {
    .works {
        padding: 82px 20px;
        &__title {
            @include title;
            &-descr {
                @include title-descr;
            }
        }
        &__cards {
            justify-content: center;
        }
        &__card {
            width: calc(300px - 40px);
            margin: 0 20px;
            margin-top: 30px;
        }
    }
}

.hide {
    
    // opacity: 1;
    // animation-name: a1;
    // animation-duration: 1s;
    // animation-fill-mode: forwards;
    
    display: none;
    
}

.active {
    // opacity: 1;
    // animation-name: a1;
    // animation-duration: 1s;
    // animation-fill-mode: forwards;
    display: none;
}

// @keyframes a1 {

//     100% {
        
//         opacity: 0;
//         min-width: 0;
//         min-height: 0;
//         padding: 0;
//         margin: 0;
//         border: 0;
//         visibility: hidden;
//     }
    
// }


